 .u-section-1 {
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  width: 654px;
  margin: 170px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  font-size: 12.25rem;
  margin: 39px 65px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  width: 733px;
  margin: 55px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 67px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 263px;
    margin-left: calc(((100% - 940px) / 2)  + 272px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 201px;
    margin-left: calc(((100% - 720px) / 2)  + 208px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 151px;
    margin-left: calc(((100% - 540px) / 2)  + 156px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 95px;
    margin-left: calc(((100% - 340px) / 2)  + 98px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/55ee0e41-f3b4-433e-afb5-cdb94dc7e4f7.jpeg");
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 6.75rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 220px 41px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  width: 785px;
  margin: 142px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  min-height: 996px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
} .u-section-4 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 213px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-1 {
  height: 358px;
  width: 804px;
  margin: 91px auto 0 -8px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    height: 209px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-4 .u-image-1 {
    height: 160px;
    width: 360px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-4 .u-image-1 {
    height: 151px;
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/bc8e12b7-eb02-4fe2-8591-ed46bcdd2483.webp");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 900;
  width: 714px;
  margin: 94px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 54px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 40px 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 calc(((100% - 1140px) / 2)  + 426px) 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 146px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 714px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2) + 226px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 146px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2) + 6px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 146px);
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: url("images/DALLE2024-05-0720.47.54-Createadark-themedmapbackground.Theimageshouldfeaturesubtletexturessuggestiveofasatelliteviewofadenselywoodedareausingapalette.webp");
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin: 95px -57px 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1200px;
  margin: 64px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 733px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 733px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 1px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 0 13px 0 24px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 929px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    width: 765px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 584px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 779px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 526px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 516px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 331px;
  }
}

.map {
  width: 100%;
  height: 78vh;
  border: none;
}

.map1 {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}